<div [ngClass]="setClasses()">
  <p>
    <input
      (change)="onToggle(todo)"
      type="checkbox"
      id="{{ todo.id }}"
      [checked]="todo.completed"
    />
    <!-- <label for="{{ todo.id }}">
      {{ todo.title }}
    </label> -->
    <span [ngClass]="{'done-true': todo.completed, 'done-false': !todo.completed}">{{todo.title}}</span>
    <button (click)="onDelete(todo)" class="del">Delete</button>
    <button (click)="onStart(todo)" class="started-button">Start</button>
  </p>
</div>
